Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
. Some of the popular languages that Data Scientists use
. Some of the commonly used libraries used by Data Scientists 
. Data Science Tools

Some of the popular languages that Data Scientists use are:

1-Python
2-SQL
3-R studio

Some of the commonly used libraries used by Data Scientists include:

1-Skicit-Learn
2-Pandas
3-Matplotlib

Data Science Tools
R
SQL
Python

Below are a few examples of evaluating arithmetic expressions in Python:

Equal (=)
Sum(+)
!= (not equal)

In [21]:
(3*4)+5

#This a simple arithmetic expression to mutiply 3 and 4 and then add 5

17

In [23]:
200/60

#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

AUTHOR

Wilsan Abdoulkader Ahmed